
.chatbox {
  border-radius: 50px;
  margin: 0 350px 10px;
  padding: 15px 20px;
  position: relative;
  font-weight: bold;
  width: 50%;
}
.chatbox.user {
  background-color: rgba(0, 0, 0, 0.692);
  color: #fff;
  order: 1;
  border-bottom-right-radius: 0px;
  box-shadow: 1px 2px 0px #D4D4D4;
}
.chatbox.bot {
  background-color: greenyellow;
  color: #363636;
  order: 1;
  border-top-left-radius: 0px;
  box-shadow: -1px 2px 0px #D4D4D4;
}
.chatbox.user + .chatbox.user,
.chatbox.bot + .chatbox.bot {
margin-top: -10px;
}
.inputBox{
  width:40%;
  box-shadow: 1px 2px 0px #D4D4D4;
}
.button-send {
  background-color: blueviolet;
  color: white;
  order: 1;
  border-bottom-right-radius: 0px;
  box-shadow: 1px 2px 0px #D4D4D4;
}
